body {
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	font-family: Calibri, Tahoma, Arial, Sans-serif;
	font-size:15px;
	line-height:23px;
	letter-spacing:0px;
	background-color:#39C;
}

td {
	font-family: Calibri, Tahoma, Arial, Sans-serif;
	font-size:14px;
}

#wrapper {
	width:768px;
    margin-left:auto;
	margin-right:auto;
	padding:50px 10px 10px 10px;
	position:relative;
	background-color:#FFF;
	border:L 5px solid #000;
}
h1 {
	font-size:20px;
	margin:0px 5px 5px 0;
	padding: 0 0 6px 0;
	color:#333333;
	display:block;
	border-bottom:1px solid #CCCCCC;
	width:768px;
}
h2 {
	font-size:12px;
	letter-spacing:1px;
	margin:0 0 5px 0;
	padding:0;
	color:#333333;
	text-transform:uppercase;
}
h3 {
	font-size:11px;
	letter-spacing:1px;
	padding:0;
	margin:0;
	color:#333333;
}
hr {
	border:0;
	height:1px;
	background-color:#666666;
	width:720px;
	text-align:left;
}

hr.general {
  width: 100%;
  background: #cccccc;
  height: 1px;
  
}

#logo {
	position:absolute;
	top:10px;
	left:580px;
	width:120px;
	height:63px;
	background-image:url(images/aot-logo_descriptor.jpg);
}
fieldset.on {
	background-color: #ffffff;
	border: 1px solid #e4e4e4;
	padding-left:10px;
}
fieldset.odd {
	background-color:#E0E0E0;
	border:1px solid #BBB;
	padding-left:10px;
}
p {
	margin:0;
	padding:0;
}
/*img{
margin-right:9px;
}*/

textarea {
	width:400px;
	height:100px;
}
img.radio {
	margin-right:49px;
}
a {
	color:#0000CC;
	text-decoration:underline;
}
a:hover {
	color:#999999;
	text-decoration:underline;
}
th {
	text-align: right;
	font-weight: normal;
	padding-right: 20px;
	width: 100px;
	font-size: 14px;
}

.step2 th {
  width: 300px !important;
  vertical-align: top;
}

.atsi th {
	width: 346px !important;
}
.textbox th {
	width: 228px;
}
select {
	font-family: Calibri, Tahoma, Arial, Sans-serif;
}
select:hover {
	cursor: pointer;
}
.submit {
	border: 1px solid #ccc;
	background: #e4e4e4;
	padding: 4px;
	font-family: Calibri, Tahoma, Arial, Sans-serif;
	width: auto !important;
}
.submit:hover, input:hover, label:hover {
	cursor: pointer;
}

.submit:hover {
  background: #333;
  color: #fff;
}

input, textarea {
	border: 1px solid #ccc;
	font-family: Calibri, Tahoma, Arial, Sans-serif;
	font-size: 13px;
}

input {
  width: 250px;
}

input.spacing {
  margin-bottom: 6px;
}

#asabove {
  color: #09F;
  border: 1px solid #e4e4e4;
  padding: 4px;
  text-decoration: none;
}

#asabove:hover {
  background: #e4e4e4;
}

label {
  display: block;
}

input.checkbox {
  width: auto !important;
}



.invisible { display: none; }


a span {display: none; position: absolute; color: #333; background: #FFF; padding: 5px; width:300px; height:auto; border:1px solid #000; margin-left:500px; margin-top:-100px;}
a {position: relative;}
a:hover span {display: block; text-align: center;}

